*{
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;

}
body{

    background-image: linear-gradient(to left,  #8acbff,#301f4f);
    transition: margin-left 300ms  cubic-bezier(0.075, 0.82, 0.165, 1);
}





/*contenedor madre que guarda los contenedores hijos*/
.cont{

    max-width: 100%;
    height: 1500px;
    display: grid;
    margin-top: 300px;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows: repeat(40, 1fr);
    /*margenes generales*/
    row-gap: 20px;
    column-gap: 20px;
    /*margenes de contenedores*/
    margin: 3%;
    padding: 0px;
    box-sizing: border-box;
    
  }


/*contenedor principal*/
.contenedor{
    width: 100%;
    max-width: 1500px;
    height: 13  00px;
    margin: 30px auto;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}






  
  /*estilos de los contadores*/
  .cabezera{
    background-color: rgb(255, 255, 255);
    grid-column: 1/13;
    grid-row: 1/5;
    border-radius: 3%;
    margin: 10px;
    margin-top: 30px;
  
  }
  
  .cabezera h1{
    text-align: center;
    margin-top: 25px;
  }
  
  
  
  .contenedor1{
    background-color: rgb(255, 255, 255);
    grid-column: 1/13;
    grid-row: 3/6;
    border-radius: 3%;
    margin: 10px;
  
    
  
  }
  
  .contenedor3{
    background-color: rgb(255, 255, 255);
    grid-column: 1/13;
    grid-row: 12/30;
    border-radius: 1%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  }
  
  
  /*estilos de contadores*/
  
  .contador1{
    background-color: rgb(255, 255, 255);
    grid-column: 1/5;
    grid-row: 6/12;
    border-radius: 8%;
    
    
    
  }
  
  
  .contador2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    grid-column: 5/9;
    grid-row: 6/12;
    border-radius: 8%;
    padding: 20px; /* Agregamos un poco de espacio interno */
  
  }
  
  
  .contador2 h1 {
  
    font-size: 15px;
    
  }
  
  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon-container i {
    color: #8acbff;
    font-size: 45px; /* Ajusta el tamaño del icono según tus preferencias */
    margin-bottom: 30px; /* Agregamos espacio entre el icono y el h1 */
  }
  
  .cantidad {
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
  }
  
  
  
  .contador3{
    background-color: rgb(255, 255, 255);
    grid-column: 9/13;
    grid-row: 6/12;
    border-radius: 8%;
  
  }
  
  
  /*diseño de la tabla*/
  table {
    width: 95%;
    margin: 40px;
    margin-top: 20px;
  }
  
  table th, table td {
    width: 13%;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    font-size: 15px;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  
  .btn-container {
    display: flex; /* Mostrar los botones en línea uno al lado del otro */
    gap: 10px; /* Espacio entre los botones */
  }
  


/* Estilos para los botones de la tabla */
.btnEliminar {
    width: 50%;
    background-color: #de3156; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 8px 16px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    transition: background-color 0.5s ease; 
    margin-top: 4px;
    
    
}

.btnActualizar {
    width: 50%;
    background-color: #6ad41d; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 8px 16px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    transition: background-color 0.5s ease; 
    margin-top: 4px;
    
    
}
/*Estilo Boton actualizar productos*/
.ActualizarPro{
  width: 50%;
    background-color: #6ad41d; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 8px 16px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    transition: background-color 0.5s ease; 
    margin-top: 4px;
}

.btnInsertar{
    width: 15%;
    height: 40px;
    background-color: #4c78af; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 8px 16px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el */
    transition: background-color 0.5s ease; 
    margin: 10px;
    

}

/* Estilo para el botón de búsqueda */
#id_equipoo {
    width: 10%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
  /*Estilo para el  boton de articulo */
#prod_Id {
 font-size:15px ;
 width:20% ;
 height:30px ;
 text-align: center;
 color: black;
}

#BuscarArticulo {
  
    width: 10%;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/*estilos de los botones para que cambien de color*/

#BuscarArticulo:hover {
    background-color: #5338aa; 
}

.btnEliminar:hover {
  background-color: #e77d26; 
}

.btnActualizar:hover{
    background-color: #d0f112; 
}

.btnInsertar:hover{
    background-color: #5338aa;
}

/* Estilos para el modal 1 y 2 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(45, 37, 100, 0.388);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    max-width: 500px;
    height: 600px;
    box-shadow: 0px 4px 8px rgba(118, 7, 7, 0.1);
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close2 {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*estilos del contenido interno de la tabla" agregar articulos"*/

.modal h2{

  text-align: center;
  color: #020202;

}

.mb-3{
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  background-size: auto;
  border-radius: 5px;
  
 
}

/*estilos del formulario de actualizar*/

#prod_Id_Act,
#prod_Nombre_Act,
#prod_Descripcion_Act,
#prod_Precio_Act,
#prod_Talla_Act,
#prod_Color_Act,
#prod_Imagen_Act
{

    margin-top: 1%;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    height: 30px;
    margin-bottom: 15px;
}

#tipo{
    margin-top: 1%;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    height: 30px;
    margin-bottom: 15px;
}
#id{
    margin-top: 1%;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    height: 30px;
    margin-bottom: 15px;
}


#ActualizarArticulo:hover {
    background-color:  #8acbff; /* Cambio de color al pasar el mouse por encima */
}



/*estilos de formulario de insertar*/
#prod_Nombre,
#prod_Descripcion,
#prod_Precio,
#prod_Talla,
#prod_Color,
#prod_Imagen,
#color {
  
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
    outline: none;
    width: 250px;
    height: 40px;
    margin-bottom: 15px;
}




#Agregar {
    border: none;
    background-color: #b491ce;
    border-radius: 15px;
    width: 250px;
    height: 40px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

#Agregar:hover {
    background-color: #0056b3;
}










/*footer*/



footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
}

.footer-social {
    margin-top: 20px;
}

.footer-social a {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}


