*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to left,  #50b1c4,#1e2a77);
    transition: margin-left 300ms  cubic-bezier(0.075, 0.82, 0.165, 1);
}


body::after,
body::before{
    content: '';
    position:  fixed;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    z-index: -1;
    filter:  blur(150px);
    opacity: 0.5;

}

body::before{
    background-color: #000000;
    left: 0;
    bottom: 0;
    transform: translate(-50%);
}

body::before{
    background-color: #040405;
    right: 0;
    top: 0;
    transform: translate(-50%);

}


/*estilos del formulario*/


.form-main{
    min-height:100vh;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.form-content{
    width: 100%;
    max-width: 450px;
    position: relative;
}

/*estilos de los ciruclos */
.form-content .circle-3,
.form-content .circle-2,
.form-content .circle-1{
    position: absolute;
    background-image: linear-gradient(to left,  #faf8ef,#1e2a77);
    border-radius:  50%;
    z-index: -1;
    filter: blur(3px); /* Puedes ajustar el valor (5px) según tu preferencia */
}

/*estilos individuales*/

.form-content .circle-1{
    height:  120px;
    width: 120px;
    top: 0%;
    transform:  translate(-50%);
    left: -90%;
    transform: translate(-50%);
}


.form-content .circle-2{
    height:  250px;
    width: 250px;
    right: -400px;
    bottom: 0%;
    top: 50%;
    transform:  translate(-20%, 20%);
}


.form-content .circle-3{
    height:  150px;
    width: 150px;
    right: -200px;
    top: 20%;
    bottom: 0%;
    transform:  translate(-560%, 90%);
}






.form-content .box{
    background: linear-gradient(to right, #3249af, #50b1c4);
    transition: margin-left 300ms  cubic-bezier(0.075, 0.82, 0.165, 1);
    padding:  40px 50px;
    border-radius: 20px;
    background-color: red;
    
}

.form-content h3{
    font-size: 23px;
    text-align: center;
    line-height: 1.2;
    color: #000000;
    font-weight: 500;
}

.form-content form{
    margin: 25px 0 20px;
    color: #ffffff;
}




.form-content p{
    text-align: center;
}


/*estilos Inputs del Formulario*/
/*Input Documento*/

#id_username{
    margin-top: 20px;
    height: 35px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    user-select: none;
    border: none;
    position: relative;
}


/*Input Nombre*/
#id_Usu_Nombre{
    margin-top: 20px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    user-select: none;
    border: none;
    position: relative;
}


/*Input Apellido*/

#id_Usu_Apellido{
    margin-top: 20px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    user-select: none;
    border: none;
    position: relative;
}

/*Input Correo Electronico*/

#id_Usu_Correo{
    margin-top: 20px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;    
    border-radius: 10px;
    user-select: none;
    border: none;
    position: relative;
}

/*Input Contraseña*/

#id_password1{
    margin-top: 20px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;    
    border-radius: 10px;
    user-select: none;
    border: none;
    position: relative;
}

/*Input Confirmar Contraseña*/

#id_password2{
    margin-top: 20px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    user-select: none;
    border: none;
    position: relative;
}

/*Botton Submit*/

#BotonEnvio{
    margin-top: 30px;
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    cursor:  pointer;
    border-radius: 25px;
    user-select: none;
    background-image: linear-gradient(to left,  #50b1c4,#3249af);
    color: rgb(255, 255, 255);
    /*border: none;*/
    position: relative;
}

