{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/Crud-Productos.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/InventarioAdmin.css' %}">
    <link rel="stylesheet" href="{% static 'css/Header.css'%}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/3d7a846b01.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Document</title>
</head>
<body>

    <!-- tu_template.html -->




    <div class="header">
        <!-- Header principal y logo -->
        <nav class="navbar">
            <a class="navbar-brand" href="#">
                <img  src="{% static 'img/logoBlanco.png' %}" alt="Logo" class="header-logo">
            </a>
            <ul class="navbar-brand">
                <li><a href="/VistasAdministrador/index.html">Inventario-Articulos</a></li>
           
                <li><a href="/Cerrar_Sesion">Cerrar Sesion</a></li>

                {% if user.is_authenticated %}
                <P>Hola {{ username }}</P>
                {% endif %} 
            </ul>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>

    <br>
<section class="cont">

   

  <div class="cabezera">
      <h1>Administrador</h1>
  </div>
  
  <div class="contenedor1">
      <button class="btnInsertar">Agregar Articulo</button>
      <label for=""><input type="number" id="prod_Id" name="prod_Id" placeholder="Id"></label>
      <button type="button" id="BuscarArticulo" class="btn btn-danger w-100 fs-5 mb-3">Buscar</button>
  </div>
  
  
  <div class="contador1">
    <div class="icon-container">
      <i class="fas fa-linkedin"></i>
      <h1 class="cantidad">Articulos Urbanos: 4 </h1>
  </div>
  </div>

  <div class="contador2">
      <div class="icon-container">
          <i class="fas fa-laptop"></i>
          <h1 class="cantidad">Articulos Formales: 5</h1>
      </div>
  </div>
  

  <div class="contador3">
    <div class="icon-container">
        <i class="fas fa-linkedin"></i>
        <h1 class="cantidad">Articulos Casuales: 5</h1>
    </div>
</div>
  

  <div class="contenedor3">    
      <div>
          <table id="tabla1">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Descripcion</th>
                      <th>Precio</th>
                      <th>Talla</th>
                      <th>Color</th>
                      <th>Imagen Producto</th>
                      <th>Funciones</th>
                  </tr>
                </thead>
                  <tbody id="tabla1-body">
                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                        Consultar();
                        });
                    </script>
                </tbody>
          </table>
      </div>
  </div>
 <!--Actualizar prendas-->
  <!--modal1-->
  <div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h1>ACTUALIZAR PRENDAS</h1>
        <form method="" id="ActualizarProducto" class="ActualizarProducto">
            {% csrf_token %}
            <input type="number" id="prod_Id_Act" placeholder="id"><br>
            <input type="text" name="prod_Nombre_Act" id="prod_Nombre_Act" placeholder="Nombre" required><br>
            <input type="text" name="prod_Descripcion_Act" id="prod_Descripcion_Act" placeholder="Descripcion" required><br>
            <input type="text" name="prod_Precio_Act" id="prod_Precio_Act" placeholder="precio" required><br>
            <input type="text" name="prod_Talla_Act" id="prod_Talla_Act" placeholder="Talla" required><br>
            <input type="text" name="prod_Color_Act" id="prod_Color_Act" placeholder="Color" required><br>
            <input type="text" name="prod_Imagen_Act" id="prod_Imagen_Act" placeholder="Imagen"><br>
            <button type="submit" id="ActualizarProducto" class="ActualizarPro" value="ActualizarProducto">Actualizar Producto</button>
        </form>
        
    </div>
</div>
<!-- ... -->
  
<!-- ... -->

  <!--modal2-->
  <div id="myModal2" class="modal">
      <div class="modal-content">
          <span class="close2">&times;</span>
          <h2>Agregar</h2>

            <!--Formulario para Agregar prendas-->
          
            <form method="post" id="FormProductos" enctype="multipart/form-data">
                {% csrf_token %}
            <!--<div class="mb-3">
                <input type="number" class="form-prod_Id" id="prod_Id" name="prod_Id" placeholder="Id Producto">
              </div>-->

              <div class="mb-3">
                <input type="text" class="form-prod_Nombre" id="prod_Nombre" name="prod_Nombre" placeholder="Nombre Prenda">
            </div>
              
              <div class="mb-3">
                  <input type="text" class="form-prod_Descripcion" id="prod_Descripcion" name="prod_Descripcion" placeholder="Descripcion del producto">
              </div>

              <div class="mb-3">
                <input type="number" class="form-prod_Precio" id="prod_Precio" name="prod_Precio" placeholder="precio">
              </div>

              <div class="mb-3">
                <input type="text" class="form-prod_Talla" id="prod_Talla" name="prod_Talla" placeholder="talla">
              </div>
              <div class="mb-3">
                <input type="text" class="form-prod_Color" id="prod_Color" name="prod_Color" placeholder="color">
              </div>
              <div class="mb-3">
                <input type="file" class="form-prod_Imagen" id="prod_Imagen" name="prod_Imagen" placeholder="Imagen Producto">

              </div>
              <div class="mb-3">
                  <button type="submit" id="Guardar" class="Guardar" value="Guardar">Insertar Articulo</button>
              </div>
          </form>
      </div>
  </div>
  <!---->
  
  


 

  
  


 

  


  
  
</section>








<footer>
  <div class="footer-logo">
    
  </div>
  <ul class="footer-links">
      <li><a href="#">inicio</a></li>
      <li><a href="#">Ayuda</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Contactos</a></li>
  </ul>
  <div class="footer-social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
     <p>&copy; 2023 Juan Gonzalez - &copy;2023 Jorge Sepulveda - &copy;2023 Carlos Camacho</p>
</footer>































