{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static '/Css/Login.css' %}">
</head>
<body>
    
    <form method="post" action="{% url 'Inicio' %}">
        {% csrf_token %}
        <div class="form-content">

            <div class="circle-1"></div>
            <div class="circle-2"></div>
            <div class="circle-3"></div>

            <div class="box">
                <h3>Bienvenido</h3>
                <form action="">
                    
                    <div>
                        <input type="text" placeholder="Nombre Usuario" class="input_controlador" id="username" name="username" required>
                    </div>
                    <div>
                        <input type="password" placeholder="Contraseña" class="input_controlador"  id="password" required>
                        <div class="input-link">
                            <a href="" class="gradiente-text">Has olvidado la Contraseña</a>
                        </div>
                    </div>
                    <button type="submit" class="btn" value="Login" id="login-button">Iniciar Sesion</button>
                </form>
                <p>No tienen una cuenta?  <a href="RegistroUsuario">Crear cuenta</a></p>

                <div id="role-links" style="display: none;">
                    <p>Selecciona tu rol:</p>
                    <a href="Inicio">Inicio</a>
                    <a href="Inicio">Admin</a>
                </div>

            </div>
        </div>
    </form>
    
</body>
</html>
