{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static '/Css/Login.css' %}">
</head>
<body>
    <!---->
    <form method="post" action="{% url 'Iniciar_Sesion' %}">
        {% csrf_token %}
        <div class="form-content">

            <div class="circle-1"></div>
            <div class="circle-2"></div>
            <div class="circle-3"></div>

            <div class="box">
                <h3>Bienvenido</h3>
                                  
                    <div>
                        <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" placeholder="Usuario ejemplo: Daniel2001">
                    </div>
                    <div>
                        <input type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder="Contraseña">
                        <div class="input-link">
                            <a href="" class="gradiente-text">Has olvidado la Contraseña</a>
                        </div>
                    </div> 
                    <button type="submit" class="btn" value="Login" id="login-button">Iniciar Sesion</button>
               
                <p>No tienen una cuenta?  <a href="/RegistroUsuario">Crear cuenta</a></p>

            </div>
        </div>
    </form>
    
</body>
</html>
